* {
    margin: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135grad, #462C7D, #831C91, #D552A3);
    display: grid;
    overflow-x: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}