.header {
    width: 4.5vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    justify-content: center;
    align-content: center;
}

.infoColumn {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 10vh;
}

.modalBtn {
    margin-bottom: 5vh;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
    background: transparent;
    border: none;
    position: relative;
    bottom: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.playerChip {
    transform: scale(0.1);
}

.modalBtn img {
    width: 3vw;
    height: 3vw;
}

.modalBtn img:hover {
    transition: 1s ease-in-out;
    transform: rotate(2turn);
}

@media (min-width: 700px) {
    .header {
        width: 8vw;
    }
    .modalBtn img {
        width: 6vw;
        height: 6vw;
    }
    .modalBtn {
        width: 8vw;
        height: 8vh;
    }
}